@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed:wght@700&display=swap');

body {background-color: #1d2333;
    font-family: 'Roboto', sans-serif;
}
 /*background color */

.navigation-bar {
    width: 100%;  /* i'm assuming full width */
    height: 50px; /* change it to desired width */
    /*background-color: rgb(2, 4, 22);*/
    background-image: linear-gradient(to right, rgb(11, 49, 83), rgb(2, 4, 22) ); /* change to desired color */
    /*margin-top: 30px;*/
}
.logo {
    float: left;
    vertical-align: top;
    width: 80px;
    height: 50px;
    margin-right: 5px;
    margin-top: 0px;    /* if you want it vertically middle of the navbar. */
}
.navigation-bar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 13px;
    margin-top: 3px;
  }

/* Change the color of links on hover */
.navigation-bar a:hover {
  background-color: rgb(92, 111, 117);
  border-radius: 25px;
}

/* Add a color to the active/current link */
.navigation-bar a.active {
  background-color: #000000;
  color: white;
  border-radius: 25px;
}
/*for the video feed */
.feed {
    text-align: center;
    color: white;
    margin-top: 20px;

    float: left;
    background-color: rgb(2, 4, 22);
}
/*for positioning system */
.feed2 {
    text-align: center;
    color: white;
    margin-top: 20px; /*adjust later*/
    margin-left: 750px;
    background-color: rgb(2, 4, 22);
}
.container{
  margin-top: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: rgb(2, 4, 22);
  border-radius: 25px;
  color: white;
  text-align: center;
}
.orientation-angle {
  color:white;
  /*border-radius: 15px;*/
  margin-top: 10px;
  float: left;
  width: 20%;
}
.orientation-angle p{
  margin-left: 5px;
  font-size: small;
  text-align: center;
}
.orientation-angle h4{
  text-align: center;
}
.positioning {
  background-color: rgb(2, 4, 22);
  color: white;
  /*border-radius: 15px;*/
  font-size: medium;
  text-align: center;
  margin-top: 20px;
  width:20%;
  float:left;
}
.column1{
  float:left;
}
.column2{
  float: right;
}
#txt{
  margin-top: 50px;
  width:30%;
  color:white;
  font-size: 50px;
  text-align: center;
}

.box{
  width: 300px;
  padding: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: rgba(0,0,0,0.4);
  text-align: center;
}
.box h1{
  color: whitesmoke;
  text-transform: uppercase;
  font-weight: 700;
}
.box input[type="text"], .box input[type="password"]
{
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 3px solid rgb(2, 4, 22);
  padding: 14px 10px;
  width: 220px;
  outline: none;
  color: whitesmoke;
  border-radius: 24px;
  transition: 0.25px;

}
.box input[type="text"], .box input[type="password"]:focus{
  width: 270px;
  border-color: rgb(2, 4, 22);
}
.box input[type="button"]{
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 3px solid rgb(2, 4, 22);
  padding: 14px 35px;
  outline: none;
  color: whitesmoke;
  border-radius: 24px;
  transition: 0.25px;
  cursor: pointer;

}
.box input[type="button"]:hover{
  background:rgb(2, 4, 22);
}
.dropbtn {
  width: 100%;  /* i'm assuming full width */
  height: 50px; /* change it to desired width */
  /*background-color: rgb(2, 4, 22);*/
background-image: linear-gradient(to right, rgb(11, 49, 83), rgb(2, 4, 22) ); /* change to desired color */
  /*background-color: #4CAF50;*/
  color: white;
  padding: 16px;
  font-size: 13px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;

    background-color: rgb(2, 4, 22);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: #f2f2f2;
  padding: 14px 16px;
  text-decoration: none;
  display: block;
  float: left;
  font-size: 13px;
  margin-top: 3px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {/*background-color: #ddd;*/
  background-color: rgb(2, 4, 22);
  border-radius: 25px;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;
}
.containerr{
  margin-top: 10px;
  width: 20%;
  display: flex;
  flex-direction: row;
  background-color: rgb(2, 4, 22);
  border-radius: 25px;
  color: white;
  text-align: center;

  /*margin-top: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: rgb(2, 4, 22);
  border-radius: 25px;
  color: white;
  text-align: center;*/
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {/*background-color: #3e8e41;*/
  background-color: rgb(92, 111, 117);
  border-radius: 25px;}

  input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;

  }

  input[type=submit]:hover {
    background-color: #45a049;
  }
div.form
{
    display: block;
    text-align: center;
}
form
{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

#container {
    width: 100%;
    background-color: #ffcc33;
    margin: auto;
}
#first {
    width: 300px;
    float: left;
    height: 300px;
    background-color: rgb(2, 4, 22);
    margin-right: 20px;
    color: whitesmoke;
}
#second {
    width: 290px;
    float: left;
    height: 350px;
    background-color: rgb(2, 4, 22);
color: whitesmoke;
}
#third {
    width: 600px;
    text-align: center;
    float: left;
    height: 800px;
    background-color: rgb(2, 4, 22);
    margin-right: 20px;
    color: whitesmoke;
margin-top: 50px;
margin-left: 250px;
}
#clear {
    clear: both;
}
ul {
  list-style-type: none;
}

li {
  display: inline-block;
}

input[type="checkbox"][id^="myCheckbox"] {
  display: none;
}

label {

/*  padding: 10px;*/
  /*display: block;*/
  position: relative;
  /*margin: 10px;*/
  cursor: pointer;
}

label:before {
  background-color: white;
  color: white;
  content: " ";
  display: block;
  border-radius: 50%;
  border: 1px solid grey;
  position: absolute;
  top: -5px;
  left: -5px;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 28px;
  transition-duration: 0.4s;
  transform: scale(0);
}

label img {
  transition-duration: 0.2s;
  transform-origin: 50% 50%;
}

:checked + label {
  border-color: #ddd;
}

:checked + label:before {
  content: "OK";
  background-color: grey;
  transform: scale(1);
}

:checked + label img {
  transform: scale(0.9);

  z-index: -1;
}
h4 {
    color:whitesmoke;
}
.header {
  padding: 5px;
  text-align: center;
  background: #1abc9c;
  color: white;
}

.slidecontainer {
width: 100%;
}

.slider {
-webkit-appearance: none;
width: 100%;
height: 25px;
background: #d3d3d3;
outline: none;
opacity: 0.7;
-webkit-transition: .2s;
transition: opacity .2s;
}

.slider:hover {
opacity: 1;
}

.slider::-webkit-slider-thumb {
-webkit-appearance: none;
appearance: none;
width: 25px;
height: 25px;
background: #4CAF50;
cursor: pointer;
}

.slider::-moz-range-thumb {
width: 25px;
height: 25px;
background: #4CAF50;
cursor: pointer;
}
